<!DOCTYPE html>
<html ng-app='MyApp'>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


</head>


<body>


    <div class="container-fluid" ng-controller="MainController as main">
        <h1 id="titleHead">Chore Board </h1>

        <div class="row">
            <div class="col-lg-4"></div>
           <form ng-submit="main.addItem()" name="formX">
                <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-btn "><button class="btn btn-info">Add</button></span>
                    <input id="inputField" ng-model="main.newItem" class="form-control" placeholder="Add item . . ." required>
                </div>

           </form>
         

                <ul class="list-group">
                    <li ng-repeat="toDo in main.toDos" class="list-group-item">
                        <div class="checkbox">
                            <a ng-click="main.removeItem(index)" id="removeBtn"><b>Remove</b></a>
                            <label><input  id="display"  type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{toDo.title}}</span></label>



                    </li>
                </ul>
                </div>

                <div class="col-lg-4">
                    <button ng-click="main.clearAll()" class="btn btn-danger" id="clearAllBtn"><b>Clear All</b></button>
                </div>


            </div>
            <!--contentDiv row-->
        </div>
        <!--row-->
    </div>
    <!---MainController->
   

<!---MainController->





    <!--TodoList row-->


    <!--TodoList container-fluid-->


    <!--MainContainer-->


    <script src="https://code.jquery.com/jquery-1.9.1.js" integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="app.js "></script>
    <script src="Controllers/MainController.js "></script>
    <!--<script src="ng_message.js "></script>-->

</body>

</html>

<!--<a class="navbar-brand" href="https://github.com/sharonwischkaemper">
        <img alt="Brand" src="https://github.com/favicon.ico">-->