#removeToDo{
    color: red;
}

#title{
    font-size: 100px;
    text-align: center;
    font-family: cursive;
}

#smallHeader{
    font-size: 30px;
    font-family: cursive;
    color: black;

}

body{
    background-image: url('https://im1.shutterfly.com/ng/services/mediarender/THISLIFE/008094316320/media/11439670922/large/1469435913/enhance') ;
    background-repeat: no-repeat;
    background-position: center top;
   
}

.strikethrough:checked + span{
    text-decoration:line-through;
    color:green;
}


#deleteChore{
    color: red;
}


#clearAllLink{
    font-size: 40px;
    color:red;
    font-family: cursive;
    font-style: italic;
}
#titleCreateChoreBoard{
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
}

#titleAllBoards{
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
}

#headerDiv{
margin: 0px;
}