#removeToDo{
    color: red;
}

#titleHead{
    font-size: 100px;
    text-align: center;
    font-family: cursive;

}

body{
    background-image: url('https://im1.shutterfly.com/ng/services/mediarender/THISLIFE/008094316320/media/11439670922/large/1469435913/enhance') ;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: limegreen;
}

.strikethrough:checked + span{
  text-decoration:line-through;
  color:green;
}

#imgHeader{
    height: 400px;
    width: 300px;
};

